---
import BaseLayout from '@layouts/BaseLayout.astro';
import Card from '@components/Card.astro';
import {
  getBlogPosts,
  getBlogPostCategories,
  getProjects,
  getProjectCategories,
} from '@lib/api';

const PostCategories = await getBlogPostCategories();
const ProjectCategories = await getProjectCategories();

// Posts
const posts = (await getBlogPosts()).sort(
  (a, b) => b.publishedAt - a.publishedAt
);
const last_posts = posts.slice(0, 3);

// Projects
const projects = (await getProjects()).sort(
  (a, b) => b.publishedAt - a.publishedAt
);
const last_projects = projects.slice(0, 3);
---

<BaseLayout>
  <div class='pb-12 mt-5'>
    <div class='text-xl py-1'>Hi there 👋</div>
    <div class='text-5xl font-bold'>I'm Fredrik Skogstad</div>
    <div class='text-3xl py-3 font-bold'>
      Web Developer & Frontend Enthusiast
    </div>
    <!-- <div class='mt-8'>
      <a class='btn btn-primary' href='#' target='_blank'>Hire me!</a>
    </div> -->
  </div>

  <div>
    <div class='text-3xl w-full font-bold mb-2'>My latest projects {'</>'}</div>
  </div>

  {
    last_projects.map((project, index) => (
      <>
        <Card
          title={project.title}
          img={project.mainImage}
          desc={project.body}
          url={project.url}
          target='_blank'
          tags={ProjectCategories[index].categories}
        />
        <div class='divider my-0' />
      </>
    ))
  }

  <div>
    <div class='text-3xl w-full font-bold mb-5 mt-10'>Latest blog posts</div>
  </div>

  {
    last_posts.map((post, index) => (
      <>
        <Card
          title={post.title}
          img={post.mainImage}
          desc={post.body}
          url={'/blog/' + post.slug.current}
          target='_self'
          tags={ProjectCategories[index].categories}
        />
        <div class='divider my-0' />
      </>
    ))
  }
</BaseLayout>
